*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}
form{
    box-shadow: 2px 2px 2px 2px;
    width: 300px;
    padding: 10px;
}