*{margin:0;
padding: 0;
box-sizing: border-box;}
#container{
    background-color: rgb(68, 68, 187);
}
.contact{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#content{
    background: white;
    color: black;
    width: 400px;
    height: 20px;
}
img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
    #container{
        margin-top: -500px;
    }